.container-fluid {
	display: flex;
	flex-flow: row wrap;
}

.container-fluid * {
	flex: 1;
}

.container-fluid .heading {
	flex: 1 1 40rem;
	margin: 4rem 2rem 1rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.container-fluid .text {
	flex: 1 1 38rem;
	text-align: center;
	margin-left: 6rem;
	font-size: 0.95rem;
}